body {
    font-family: Arial, sans-serif;
    background-color: blue;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
}

#weatherContainer {
    text-align: center;
    margin-top: 20px;
}

